[Unit]
Description=modbus2mqtt daemon
Wants=network.target

[Service]
User=<INSERT_USERNAME_HERE>
Group=users
WorkingDirectory=/tmp

Type=idle
ExecStart=/usr/local/bin/modbus2mqtt

[Install]
WantedBy=multi-user.target
